{{#initializer}}
    {{scope}} {{{declarationText}}} {
    {{{initializerCall}}}
    }
{{/initializer}}

{{#property}}


    {{#hasSetter}}

        {{scope}} {{{declarationText}}} {
        set {
        }
        get {
        {{#defaultValue}}return {{{defaultValue}}}{{/defaultValue}}
        {{^defaultValue}}fatalError("Dummy implementation"){{/defaultValue}}
        }
        }

    {{/hasSetter}}
    {{^hasSetter}}

        {{scope}} {{{declarationText}}} {
        {{#defaultValue}}return {{{defaultValue}}}{{/defaultValue}}
        {{^defaultValue}}fatalError("Dummy implementation"){{/defaultValue}}
        }

    {{/hasSetter}}

{{/property}}

{{#subscript}}

    {{scope}} {{{declarationText}}} {

    {{#hasSetter}}
        set {
        }
        get {
        return {{{resultType.defaultValue}}}
        }
    {{/hasSetter}}
    {{^hasSetter}}
        {{#resultType.defaultValue}}return {{{resultType.defaultValue}}}{{/resultType.defaultValue}}
        {{^resultType.defaultValue}}fatalError("Dummy implementation"){{/resultType.defaultValue}}
    {{/hasSetter}}
    }

{{/subscript}}

{{#method}}

    {{scope}} {{{declarationText}}} {

    {{#resultType}}
        {{#defaultValue}}return {{{defaultValue}}}{{/defaultValue}}
        {{^defaultValue}}fatalError("Dummy implementation"){{/defaultValue}}
    {{/resultType}}

    }
{{/method}}
