{{#initializer}}
    {{scope}} {{{declarationText}}} {
    {{{initializerCall}}}
    }
{{/initializer}}

{{#property}}

    {{#hasSetter}}
        {{scope}} var invoked{{capitalizedUniqueName}}Setter = false
        {{scope}} var invoked{{capitalizedUniqueName}}SetterCount = 0
        {{scope}} var invoked{{capitalizedUniqueName}}: {{{optionalType}}}
        {{scope}} var invoked{{capitalizedUniqueName}}List = [{{{type}}}]()
    {{/hasSetter}}
    {{scope}} var invoked{{capitalizedUniqueName}}Getter = false
    {{scope}} var invoked{{capitalizedUniqueName}}GetterCount = 0
    {{scope}} var stubbed{{capitalizedUniqueName}}: {{{iuoType}}} {{{defaultValueAssignment}}}

    {{#isImplemented}}
        {{scope}} var forwardToOriginal{{capitalizedUniqueName}} = false
    {{/isImplemented}}

    {{scope}} {{{declarationText}}} {

    {{#hasSetter}}
        set {
        invoked{{capitalizedUniqueName}}Setter = true
        invoked{{capitalizedUniqueName}}SetterCount += 1
        invoked{{capitalizedUniqueName}} = newValue
        invoked{{capitalizedUniqueName}}List.append(newValue)
        {{#isImplemented}}
            if forwardToOriginal{{capitalizedUniqueName}} {
            super.{{name}} = newValue
            }
        {{/isImplemented}}
        }
        get {
        invoked{{capitalizedUniqueName}}Getter = true
        invoked{{capitalizedUniqueName}}GetterCount += 1
        {{#isImplemented}}
            if forwardToOriginal{{capitalizedUniqueName}} {
            return super.{{name}}
            }
        {{/isImplemented}}
        return stubbed{{capitalizedUniqueName}}
        }
    {{/hasSetter}}
    {{^hasSetter}}
        invoked{{capitalizedUniqueName}}Getter = true
        invoked{{capitalizedUniqueName}}GetterCount += 1
        {{#isImplemented}}
            if forwardToOriginal{{capitalizedUniqueName}} {
            return super.{{name}}
            }
        {{/isImplemented}}
        return stubbed{{capitalizedUniqueName}}
    {{/hasSetter}}

    }
{{/property}}


{{#subscript}}

    {{scope}} var invoked{{capitalizedUniqueName}}Getter = false
    {{scope}} var invoked{{capitalizedUniqueName}}GetterCount = 0
    {{#escapingParameters}}
        {{scope}} var invoked{{capitalizedUniqueName}}GetterParameters: {{{tupleRepresentation}}}?
        {{scope}} var invoked{{capitalizedUniqueName}}GetterParametersList = [{{{tupleRepresentation}}}]()
    {{/escapingParameters}}
    {{scope}} var stubbed{{capitalizedUniqueName}}Result: {{{resultType.iuoType}}} {{{resultType.defaultValueAssignment}}}

    {{#hasSetter}}
        {{scope}} var invoked{{capitalizedUniqueName}}Setter = false
        {{scope}} var invoked{{capitalizedUniqueName}}SetterCount = 0
        {{#escapingParameters}}
            {{scope}} var invoked{{capitalizedUniqueName}}SetterParameters: {{{tupleRepresentation}}}?
            {{scope}} var invoked{{capitalizedUniqueName}}SetterParametersList = [{{{tupleRepresentation}}}]()
        {{/escapingParameters}}
        {{scope}} var invoked{{capitalizedUniqueName}}: {{{resultType.type}}}?
        {{scope}} var invoked{{capitalizedUniqueName}}List = [{{{resultType.type}}}]()
    {{/hasSetter}}

    {{#isImplemented}}
        {{scope}} var forwardToOriginal{{capitalizedUniqueName}} = false
    {{/isImplemented}}

    {{scope}} {{{declarationText}}} {

    {{#hasSetter}}
        set {
        invoked{{capitalizedUniqueName}}Setter = true
        invoked{{capitalizedUniqueName}}SetterCount += 1
        {{#escapingParameters}}
            invoked{{capitalizedUniqueName}}SetterParameters = {{{tupleAssignment}}}
            invoked{{capitalizedUniqueName}}SetterParametersList.append({{{tupleAssignment}}})
        {{/escapingParameters}}
        invoked{{capitalizedUniqueName}} = newValue
        invoked{{capitalizedUniqueName}}List.append(newValue)
        {{#isImplemented}}
            if forwardToOriginal{{capitalizedUniqueName}} {
            super{{functionCall}} = newValue
            }
        {{/isImplemented}}
        }
        get {
        invoked{{capitalizedUniqueName}}Getter = true
        invoked{{capitalizedUniqueName}}GetterCount += 1
        {{#escapingParameters}}
            invoked{{capitalizedUniqueName}}GetterParameters = {{{tupleAssignment}}}
            invoked{{capitalizedUniqueName}}GetterParametersList.append({{{tupleAssignment}}})
        {{/escapingParameters}}
        {{#isImplemented}}
            if forwardToOriginal{{capitalizedUniqueName}} {
            return super{{functionCall}}
            }
        {{/isImplemented}}
        return stubbed{{capitalizedUniqueName}}Result
        }
    {{/hasSetter}}
    {{^hasSetter}}
        invoked{{capitalizedUniqueName}}Getter = true
        invoked{{capitalizedUniqueName}}GetterCount += 1
        {{#escapingParameters}}
            invoked{{capitalizedUniqueName}}GetterParameters = {{{tupleAssignment}}}
            invoked{{capitalizedUniqueName}}GetterParametersList.append({{{tupleAssignment}}})
        {{/escapingParameters}}
        {{#isImplemented}}
            if forwardToOriginal{{capitalizedUniqueName}} {
            return super{{functionCall}}
            }
        {{/isImplemented}}
        return stubbed{{capitalizedUniqueName}}Result
    {{/hasSetter}}
    }

{{/subscript}}

{{#method}}

    {{scope}} var invoked{{capitalizedUniqueName}} = false
    {{scope}} var invoked{{capitalizedUniqueName}}Count = 0

    {{#escapingParameters}}
        {{scope}} var invoked{{capitalizedUniqueName}}Parameters: {{{tupleRepresentation}}}?
        {{scope}} var invoked{{capitalizedUniqueName}}ParametersList = [{{{tupleRepresentation}}}]()
    {{/escapingParameters}}

    {{#closureParameter}}
        {{#hasArguments}}
            {{scope}} var stubbed{{capitalizedUniqueName}}{{capitalizedName}}Result: {{{argumentsTupleRepresentation}}}?
        {{/hasArguments}}
        {{^hasArguments}}
            {{scope}} var shouldInvoke{{capitalizedUniqueName}}{{capitalizedName}} = false
        {{/hasArguments}}
    {{/closureParameter}}

    {{#throws}}
        {{scope}} var stubbed{{capitalizedUniqueName}}Error: Error?
    {{/throws}}

    {{#resultType}}
        {{scope}} var stubbed{{capitalizedUniqueName}}Result: {{{iuoType}}} {{{defaultValueAssignment}}}
    {{/resultType}}

    {{#isImplemented}}
        {{scope}} var forwardToOriginal{{capitalizedUniqueName}} = false
    {{/isImplemented}}

    {{scope}} {{{declarationText}}} {

    invoked{{capitalizedUniqueName}} = true
    invoked{{capitalizedUniqueName}}Count += 1

    {{#escapingParameters}}
        invoked{{capitalizedUniqueName}}Parameters = {{{tupleAssignment}}}
        invoked{{capitalizedUniqueName}}ParametersList.append({{{tupleAssignment}}})
    {{/escapingParameters}}

    {{#isImplemented}}
        if forwardToOriginal{{capitalizedUniqueName}} {
        {{#resultType}}return {{/resultType}}{{#throws}}try {{/throws}}{{#rethrows}}try {{/rethrows}}super.{{functionCall}}
        {{^resultType}}return{{/resultType}}
        }
    {{/isImplemented}}

    {{#closureParameter}}
        {{#hasArguments}}
            if let result = stubbed{{capitalizedUniqueName}}{{capitalizedName}}Result {
            {{{implicitClosureCall}}}
            }
        {{/hasArguments}}
        {{^hasArguments}}
            if shouldInvoke{{capitalizedUniqueName}}{{capitalizedName}} {
            {{{implicitClosureCall}}}
            }
        {{/hasArguments}}
    {{/closureParameter}}

    {{#throws}}
        if let error = stubbed{{capitalizedUniqueName}}Error {
        throw error
        }
    {{/throws}}

    {{#resultType}}
        return stubbed{{capitalizedUniqueName}}Result{{returnCastStatement}}
    {{/resultType}}

    }
{{/method}}
