{{#initializer}}
    {{{declarationText}}} {
    {{{initializerCall}}}
    }
{{/initializer}}

{{#property}}

    {{scope}} var stubbed{{capitalizedUniqueName}}: {{{iuoType}}} {{{defaultValueAssignment}}}

    {{{declarationText}}} {

    {{#hasSetter}}
        set {
        }
        get {
        return stubbed{{capitalizedUniqueName}}
        }
    {{/hasSetter}}
    {{^hasSetter}}
        return stubbed{{capitalizedUniqueName}}
    {{/hasSetter}}

    }
{{/property}}


{{#subscript}}

    {{scope}} var stubbed{{capitalizedUniqueName}}Result: {{{resultType.iuoType}}} {{{resultType.defaultValueAssignment}}}

    {{{declarationText}}} {

    {{#hasSetter}}
        set {
        }
        get {
        return stubbed{{capitalizedUniqueName}}Result
        }
    {{/hasSetter}}
    {{^hasSetter}}
        return stubbed{{capitalizedUniqueName}}Result
    {{/hasSetter}}
    }

{{/subscript}}

{{#method}}

    {{#resultType}}
        {{scope}} var stubbed{{capitalizedUniqueName}}Result: {{{iuoType}}} {{{defaultValueAssignment}}}
    {{/resultType}}

    {{{declarationText}}} {

    {{#resultType}}
        return stubbed{{capitalizedUniqueName}}Result{{returnCastStatement}}
    {{/resultType}}

    }
{{/method}}
