#include "../SwiftToolkit/config/Profile.xcconfig"
#include "Shared.xcconfig"

FRAMEWORK_SEARCH_PATHS = $DEVELOPER_FRAMEWORKS_DIR $PROJECT_DIR/lib/Release
HEADER_SEARCH_PATHS = $PROJECT_DIR/lib/Release/include/GRMustache
LIBRARY_SEARCH_PATHS = $PROJECT_DIR/lib/Release
OTHER_SWIFT_FLAGS = -Xcc -fmodule-map-file=$PROJECT_DIR/lib/Release/include/GRMustache/module.modulemap
XPC_BUNDLE_IDENTIFIER = codes.seanhenry.MockGeneratorXPC.debug
ONLY_ACTIVE_ARCH = YES
